
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@section head{
    <script type="text/javascript">
    var pMListStr = '@ViewData["limitsStr"]';
    var pMList = pMListStr.split(',');
    </script>
}
<body style="width:99%;height:99%;">
    <table id="confList"></table>
</body>
<script src="~/Content/Scripts/library.js"></script>
<script src="~/Content/Scripts/Admin/WebConfig.js"></script>
<script src="~/Content/Scripts/EasyUI/validateExt.js"></script>
